<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Downloader Youtube Video</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Baixar Video do <i>Youtube</i></h1>
    <form method="POST">
      <label>LINK do video:</label>
      <input type="text" name="url" size="50" required>
      <button type="submit">Carregar</button>
    </form>
    <p>{{ message }}</p>
</body>
</html>